body{
  background-color: black;
}

.container{
  
  height:100%;
  
}
.scene{
  width: 100%;
  position: absolute;
}

img{
  width:100%;
}
.button{
  width: 10%;
  height: 100px;
  background-color: aqua;
  margin-top:20%;
  margin-left:45%;
  position: fixed;
  z-index: 1;
}