/* body{
  background-color: black;
}

.container{
  
  height:100%;
  
}
.scene{
  width: 100%;
  position: absolute;
  overflow: hidden;
}

img{
  width:100%;
} */
.button{
  width: 10%;
  height: 100px;
  background-color: aqua;
  /* margin-top:20%;
  margin-left:45%;
  position: fixed;
  z-index: 1; */
}
.button2{
  width: 10%;
  height: 100px;
  background-color: rgb(255, 0, 149);
  margin-top:200px;
  /* margin-left:45%;
  position: fixed;
  z-index: 1; */
  /* display: none; */
}
/* .hidden{
  display: none;
}

.box1{
  display: none;
} */